app-ws-avam-sink/src/main/resources/schema/v2/EgovToAVAM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:xsd1="http://valueobjects.common.avam.bit.admin.ch"
             xmlns:tns="http://ws.web.egov.avam.bit.admin.ch"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             targetNamespace="http://ws.web.egov.avam.bit.admin.ch"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <documentation>
        Schnittstelle zu SECO eGov
        ==========================

        Die Schnittstelle wurde möglichst einfach gestaltet. Es gibt auf beiden
        Seiten der Schnittstelle einen Service, der die verschiedenen Operationen
        implementiert.
        Es wurde besonders darauf geachtet, dass die WSDL-Dateien kompatibel zu AJAX2
        sind,
        da eGov seine WS-Clients und -Services mit AJAX implementieren will.

        Sicherheit
        ==========

        Die Verbindungen zwischen eGov und AVAM werden über HTTPS abgewickelt.
        Die entsprechenden Zertifikate müssen in beiden Systemen installiert sein.
        Der Anfrageteil (HTTP-POST) wird zudem mit einem technischen User und
        einem Passwort innerhalb der SOAP-Nachricht gesichert.

        Operationen
        ===========

        - Oste in AVAM eintragen
        - Lesen der für eGov relevanten T_Code Einträgen.
        - Publikation des STES im eGov
        - Abfragen von RAV-Adressen
        - Abfragen von RAV-Sachbearbeitern
    </documentation>
    <types>
        <xs:schema>
            <xs:import namespace="http://valueobjects.common.avam.bit.admin.ch"
                       schemaLocation="EgovToAVAM.xsd"/>
        </xs:schema>
    </types>
    <message name="getCodeResponse">
        <part name="parameters" element="xsd1:getCodeResponse">
        </part>
    </message>
    <message name="getCodeRequest">
        <part name="parameters" element="xsd1:getCode">
        </part>
    </message>
    <message name="getRavSachbearbeiterResponse">
        <part name="parameters" element="xsd1:getRavSachbearbeiterResponse">
        </part>
    </message>
    <message name="deliverOsteRequest">
        <part name="parameters" element="xsd1:deliverOste">
        </part>
    </message>
    <message name="getRavAdressenResponse">
        <part name="parameters" element="xsd1:getRavAdressenResponse">
        </part>
    </message>
    <message name="getRavAdressenRequest">
        <part name="parameters" element="xsd1:getRavAdressen">
        </part>
    </message>
    <message name="getRavSachbearbeiterRequest">
        <part name="parameters" element="xsd1:getRavSachbearbeiter">
        </part>
    </message>
    <message name="deliverOsteResponse">
        <part name="parameters" element="xsd1:deliverOsteResponse">
        </part>
    </message>
    <portType name="EgovPortType">
        <operation name="deliverOste">
            <input name="deliverOsteRequest" message="tns:deliverOsteRequest">
            </input>
            <output name="deliverOsteResponse" message="tns:deliverOsteResponse">
            </output>
        </operation>
        <operation name="getCode">
            <input name="getCodeRequest" message="tns:getCodeRequest">
            </input>
            <output name="getCodeResponse" message="tns:getCodeResponse">
            </output>
        </operation>
        <operation name="getRavAdressen">
            <input name="getRavAdressenRequest" message="tns:getRavAdressenRequest">
            </input>
            <output name="getRavAdressenResponse" message="tns:getRavAdressenResponse">
            </output>
        </operation>
        <operation name="getRavSachbearbeiter">
            <input name="getRavSachbearbeiterRequest"
                   message="tns:getRavSachbearbeiterRequest">
            </input>
            <output name="getRavSachbearbeiterResponse"
                    message="tns:getRavSachbearbeiterResponse">
            </output>
        </operation>
    </portType>
    <binding name="EgovPortBinding" type="tns:EgovPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="deliverOste">
            <soap:operation soapAction="deliverOste" style="document"/>
            <input name="deliverOsteRequest">
                <soap:body use="literal"/>
            </input>
            <output name="deliverOsteResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCode">
            <soap:operation soapAction="getCode" style="document"/>
            <input name="getCodeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="getCodeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getRavAdressen">
            <soap:operation soapAction="getRavAdressen" style="document"/>
            <input name="getRavAdressenRequest">
                <soap:body use="literal"/>
            </input>
            <output name="getRavAdressenResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getRavSachbearbeiter">
            <soap:operation soapAction="getRavSachbearbeiter" style="document"/>
            <input name="getRavSachbearbeiterRequest">
                <soap:body use="literal"/>
            </input>
            <output name="getRavSachbearbeiterResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EgovService">
        <port name="EgovService" binding="tns:EgovPortBinding">
            <soap:address
                    location="https://appl.avam-f.bfi.admin.ch:443/AVAM_Web/services/EgovService"/>
        </port>
    </service>
</definitions>
