app-ws-avam-sink/src/main/resources/schema/v2/EgovToAVAM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" 
		   targetNamespace="http://valueobjects.common.avam.bit.admin.ch" 
		   xmlns:tns="http://valueobjects.common.avam.bit.admin.ch" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--
		Credentials
	-->
	<xs:complexType name="WSCredentials">
		<xs:sequence>
			<xs:element name="username" nillable="false" type="xs:string"/>
			<xs:element name="password" nillable="false" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!--
		OsteEgov einfügen in AVAM
	-->
	<xs:complexType name="T_OsteEgov">
		<xs:sequence>
			<xs:element name="abSofort" nillable="true" type="xs:boolean"/>
			<xs:element name="abmeldeDatum" nillable="true" type="xs:string"/>
			<xs:element name="abmeldeGrundCode" nillable="true" type="xs:string"/>
			<xs:element name="alterBis" nillable="true" type="xs:string"/>
			<xs:element name="alterVon" nillable="true" type="xs:string"/>
			<xs:element name="angabenAlter" nillable="true" type="xs:string"/>
			<xs:element name="anmeldeDatum" nillable="true" type="xs:string"/>
			<xs:element name="arbeitsamtBereich" nillable="false" type="xs:string"/>
			<xs:element name="arbeitsformCodeList" nillable="true" type="tns:WSArbeitsformArray"/>
			<xs:element name="arbeitsOrtGemeinde" nillable="true" type="xs:string"/>
			<xs:element name="arbeitsOrtText" nillable="true" type="xs:string"/>		
			<xs:element name="arbeitsOrtPlz" nillable="false" type="xs:string"/>
			<xs:element name="arbeitsOrtOrt" nillable="false" type="xs:string"/>
			<xs:element name="arbeitsOrtLand" nillable="false" type="xs:string"/>
			<xs:element name="arbeitzeitStd" nillable="true" type="xs:string"/>
			<xs:element name="behindert" nillable="true" type="xs:boolean"/>
			<xs:element name="beschreibung" nillable="true" type="xs:string"/>
			<xs:element name="bewerElektronisch" nillable="true" type="xs:boolean"/>
			<xs:element name="bewerPersoenlich" nillable="true" type="xs:boolean"/>
			<xs:element name="bewerSchriftlich" nillable="true" type="xs:boolean"/>
			<xs:element name="bewerTelefonisch" nillable="true" type="xs:boolean"/>
			<xs:element name="bewerAngaben" nillable="true" type="xs:string"/>
			<xs:element name="bezeichnung" nillable="false" type="xs:string"/>
			<xs:element name="bq1AusbildungCode" nillable="true" type="xs:string"/>
			<xs:element name="bq1AvamBerufNr" nillable="true" type="xs:string"/>
			<xs:element name="bq1AvamBeruf" nillable="true" type="xs:string"/>
			<xs:element name="bq1ErfahrungCode" nillable="true" type="xs:string"/>
			<xs:element name="bq1QualifikationCode" nillable="true" type="xs:string"/>
			<xs:element name="bq1VerwandteBerufe" nillable="true" type="xs:boolean"/>
			<xs:element name="bq2AusbildungCode" nillable="true" type="xs:string"/>
			<xs:element name="bq2AvamBeruf" nillable="true" type="xs:string"/>
			<xs:element name="bq2ErfahrungCode" nillable="true" type="xs:string"/>
			<xs:element name="bq2QualifikationCode" nillable="true" type="xs:string"/>
			<xs:element name="bq2VerwandteBerufe" nillable="true" type="xs:boolean"/>
			<xs:element name="bq3AusbildungCode" nillable="true" type="xs:string"/>
			<xs:element name="bq3AvamBeruf" nillable="true" type="xs:string"/>
			<xs:element name="bq3ErfahrungCode" nillable="true" type="xs:string"/>
			<xs:element name="bq3QualifikationCode" nillable="true" type="xs:string"/>
			<xs:element name="bq3VerwandteBerufe" nillable="true" type="xs:boolean"/>
			<xs:element name="detailangabenCode" nillable="true" type="xs:string"/>
			<xs:element name="euresAnonym" nillable="true" type="xs:boolean"/>
			<xs:element name="eures" nillable="true" type="xs:boolean"/>
			<xs:element name="geschlechtCode" nillable="true" type="xs:string"/>
			<xs:element name="gleicheOste" nillable="true" type="xs:string"/>
			<xs:element name="gueltigkeit" nillable="true" type="xs:string"/>
			<xs:element name="jobSharing" nillable="true" type="xs:boolean"/>
			<xs:element name="kategorieCode" nillable="true" type="xs:string"/>
			<xs:element name="kpAnredeCode" nillable="true" type="xs:string"/>
			<xs:element name="kpEmail" nillable="true" type="xs:string"/>
			<xs:element name="kpName" nillable="true" type="xs:string"/>
			<xs:element name="kpTelefonNr" nillable="true" type="xs:string"/>
			<xs:element name="kpVorname" nillable="true" type="xs:string"/>
			<xs:element name="lohnMax" nillable="true" type="xs:string"/>
			<xs:element name="lohnMin" nillable="true" type="xs:string"/>
			<xs:element name="lohnartCode" nillable="true" type="xs:string"/>
			<xs:element name="pensumBis" nillable="true" type="xs:short"/>
			<xs:element name="pensumVon" nillable="true" type="xs:short"/>
			<xs:element name="privFahrzeug" nillable="true" type="xs:boolean"/>
			<xs:element name="sk1Aufenthalt" nillable="true" type="xs:boolean"/>
			<xs:element name="sk1MuendlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk1Muttersprache" nillable="true" type="xs:boolean"/>
			<xs:element name="sk1SchriftlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk1SpracheCode" nillable="true" type="xs:string"/>
			<xs:element name="sk2Aufenthalt" nillable="true" type="xs:boolean"/>
			<xs:element name="sk2MuendlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk2Muttersprache" nillable="true" type="xs:boolean"/>
			<xs:element name="sk2SchriftlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk2SpracheCode" nillable="true" type="xs:string"/>
			<xs:element name="sk3Aufenthalt" nillable="true" type="xs:boolean"/>
			<xs:element name="sk3MuendlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk3Muttersprache" nillable="true" type="xs:boolean"/>
			<xs:element name="sk3SchriftlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk3SpracheCode" nillable="true" type="xs:string"/>
			<xs:element name="sk4Aufenthalt" nillable="true" type="xs:boolean"/>
			<xs:element name="sk4MuendlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk4Muttersprache" nillable="true" type="xs:boolean"/>
			<xs:element name="sk4SchriftlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk4SpracheCode" nillable="true" type="xs:string"/>
			<xs:element name="sk5Aufenthalt" nillable="true" type="xs:boolean"/>
			<xs:element name="sk5MuendlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk5Muttersprache" nillable="true" type="xs:boolean"/>
			<xs:element name="sk5SchriftlichCode" nillable="true" type="xs:string"/>
			<xs:element name="sk5SpracheCode" nillable="true" type="xs:string"/>
			<xs:element name="sprachenBemerkungen" nillable="true" type="xs:string"/>
			<xs:element name="stellenantritt" nillable="true" type="xs:string"/>
			<xs:element name="stellennummerAvam" nillable="true" type="xs:string"/>
			<xs:element name="stellennummerEgov" nillable="true" type="xs:string"/>
			<xs:element name="unbefristet" nillable="true" type="xs:boolean"/>
			<xs:element name="untHausNr" nillable="true" type="xs:string"/>
			<xs:element name="untLand" nillable="false" type="xs:string"/>
			<xs:element name="untName" nillable="false" type="xs:string"/>
			<xs:element name="untOrt" nillable="true" type="xs:string"/>
			<xs:element name="untPlz" nillable="true" type="xs:string"/>
			<xs:element name="untPostfach" nillable="true" type="xs:string"/>
			<xs:element name="untPostfachOrt" nillable="true" type="xs:string"/>
			<xs:element name="untPostfachPlz" nillable="true" type="xs:string"/>
			<xs:element name="untStrasse" nillable="true" type="xs:string"/>
			<xs:element name="untTelefon" nillable="true" type="xs:string"/>
			<xs:element name="untEmail" nillable="true" type="xs:string"/>
			<xs:element name="untUrl" nillable="true" type="xs:string"/>
			<xs:element name="vertragsdauer" nillable="true" type="xs:string"/>
			<xs:element name="waehrungCode" nillable="true" type="xs:string"/>
			<xs:element name="anonym" nillable="false" type="xs:boolean"/>
			<xs:element name="publikation" nillable="false" type="xs:boolean"/>
			<xs:element name="loginAnonym" nillable="false" type="xs:boolean"/>
			<xs:element name="loginPublikation" nillable="false" type="xs:boolean"/>
			<xs:element name="quelleCode" nillable="false" type="xs:string"/>
			<xs:element name="meldepflicht" nillable="false" type="xs:boolean"/>
			<xs:element name="kurzeinsatz" nillable="true" type="xs:boolean"/>
			<xs:element name="sperrfrist" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="WSArbeitsform">
		<xs:sequence>
			<xs:element name="arbeitsformCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSArbeitsformArray">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WSArbeitsformArrayItem" type="tns:WSArbeitsform"/>
		</xs:sequence>
	</xs:complexType>


	<!--
		Codes abfragen in AVAM
	-->
	<xs:complexType name="T_Code">
		<xs:sequence>
			<xs:element name="domain" type="xs:string"/>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="kurztextDe" type="xs:string"/>
			<xs:element name="kurztextFr" type="xs:string"/>
			<xs:element name="kurztextIt" type="xs:string"/>
			<xs:element name="textDe" type="xs:string"/>
			<xs:element name="textFr" type="xs:string"/>
			<xs:element name="textIt" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="T_CodeArray">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="T_CodeArrayItem" type="tns:T_Code"/>
		</xs:sequence>
	</xs:complexType>


	<!--
		RAV-Adressen abfragen
	-->
	<xs:complexType name="WSRavAdresse">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="nameDE" type="xs:string"/>
			<xs:element name="nameFR" type="xs:string"/>
			<xs:element name="nameIT" type="xs:string"/>
			<xs:element name="strasseDE" type="xs:string"/>
			<xs:element name="strasseFR" type="xs:string"/>
			<xs:element name="strasseIT" type="xs:string"/>
			<xs:element name="hausNr" type="xs:string"/>
			<xs:element name="plz" type="xs:string"/>
			<xs:element name="ortDE" type="xs:string"/>
			<xs:element name="ortFR" type="xs:string"/>
			<xs:element name="ortIT" type="xs:string"/>
			<xs:element name="leiter" type="xs:string"/>
			<xs:element name="telefon" type="xs:string"/>
			<xs:element name="fax" type="xs:string"/>
			<xs:element name="email" type="xs:string"/>
			<xs:element name="arbeitsspracheCode" type="xs:string"/>
			<xs:element name="adressTypCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSRavAdresseArray">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WSRavAdresseArrayItem" type="tns:WSRavAdresse"/>
		</xs:sequence>
	</xs:complexType>

	<!--
		RAV-Sachbearbeiter abfragen 
	-->
	<xs:complexType name="WSFunktion">
		<xs:sequence>
			<xs:element name="funktionCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSFunktionArray">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WSFunktionArrayItem" type="tns:WSFunktion"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSArbeitsamtbereich">
		<xs:sequence>
			<xs:element name="arbeitsamtBereich" type="xs:string"/>
			<xs:element name="bueroNummer" type="xs:string"/>
			<xs:element name="email" type="xs:string"/>
			<xs:element name="telefon" type="xs:string"/>
			<xs:element name="mobil" type="xs:string"/>
			<xs:element name="fax" type="xs:string"/>
			<xs:element name="benutzerDetailId" type="xs:integer"/>
			<xs:element name="funktionen" type="tns:WSFunktionArray"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSArbeitsamtbereichArray">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WSArbeitsamtbereichArrayItem" type="tns:WSArbeitsamtbereich"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSRavSachbearbeiter">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="vorname" type="xs:string"/>
			<xs:element name="benutzerId" type="xs:string"/>
			<xs:element name="spracheCode" type="xs:string"/>
			<xs:element name="geschlechtCode" type="xs:string"/>
			<xs:element name="arbeitsamtBereiche" type="tns:WSArbeitsamtbereichArray"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="WSRavSachbearbeiterArray">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WSRavSachbearbeiterArrayItem" type="tns:WSRavSachbearbeiter"/>
		</xs:sequence>
	</xs:complexType>

	<!--
		Nachrichten Objekte
	-->
	<xs:element name="deliverOste">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
				<xs:element name="oste" nillable="true" type="tns:T_OsteEgov"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deliverOsteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" name="deliverOsteReturn" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
				<xs:element name="domain" nillable="true" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCodeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" name="codeReturn" nillable="true" type="tns:T_CodeArray"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getRavAdressen">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getRavAdressenResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" name="ravAdressenReturn" nillable="true" type="tns:WSRavAdresseArray"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getRavSachbearbeiter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getRavSachbearbeiterResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element form="qualified" name="ravSachbearbeiterReturn" nillable="true" type="tns:WSRavSachbearbeiterArray"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>