app-ws-avam-source/src/main/resources/schema/AVAMToEgov.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://valueobjects.common.avam.bit.admin.ch"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           targetNamespace="http://valueobjects.common.avam.bit.admin.ch">

    <!--
        Credentials
     -->
    <xs:complexType name="WSCredentials">
        <xs:sequence>
            <xs:element name="username" nillable="false" type="xs:string"/>
            <xs:element name="password" nillable="false" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Stes suchen in eGov
    -->
    <xs:complexType name="WSStesEgovSuche">
        <xs:sequence>
            <xs:element name="vorname" nillable="true" type="xs:string"/>
            <xs:element name="geburtsDatum" nillable="true" type="xs:string"/>
            <xs:element name="geschaeftsfallNr" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WSStesEgov">
        <xs:sequence>
            <xs:element name="erfasstZeitEgov" nillable="true" type="xs:string"/>
            <xs:element name="geschlechtCode" nillable="true" type="xs:string"/>
            <xs:element name="zivilstandCode" nillable="true" type="xs:string"/>
            <xs:element name="ort" nillable="true" type="xs:string"/>
            <xs:element name="plz" nillable="true" type="xs:string"/>
            <xs:element name="gemeindeName" nillable="true" type="xs:string"/>
            <xs:element name="staatIso" nillable="true" type="xs:string"/>
            <xs:element name="spracheCode" nillable="true" type="xs:string"/>
            <xs:element name="berufsBezeichnung" nillable="true" type="xs:string"/>
            <xs:element name="anmeldeDatumGemeinde" nillable="true" type="xs:string"/>
            <xs:element name="vermittlungsgrad" nillable="true" type="xs:string"/>
            <xs:element name="name" nillable="true" type="xs:string"/>
            <xs:element name="vorname" nillable="true" type="xs:string"/>
            <xs:element name="strasse" nillable="true" type="xs:string"/>
            <xs:element name="hausNr" nillable="true" type="xs:string"/>
            <xs:element name="telefonPrivat" nillable="true" type="xs:string"/>
            <xs:element name="email" nillable="true" type="xs:string"/>
            <xs:element name="alkZahlstellenNr" nillable="true" type="xs:string"/>
            <xs:element name="alkKurzname" nillable="true" type="xs:string"/>
            <xs:element name="versichertenNr" nillable="true" type="xs:string"/>
            <xs:element name="geburtsDatum" nillable="true" type="xs:string"/>
            <xs:element name="geschaeftsfallNr" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WSStesEgovArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="stesEgovArrayItem"
                        type="tns:WSStesEgov"/>
        </xs:sequence>
    </xs:complexType>
    <!--
        Oste einfügen in eGov
    -->
    <xs:complexType name="WSOsteEgov">
        <xs:sequence>
            <xs:element name="osteEgovId" nillable="false" type="xs:decimal"/>
            <xs:element name="abSofort" nillable="true" type="xs:boolean"/>
            <xs:element name="ablehnungDatum" nillable="true" type="xs:string"/>
            <xs:element name="ablehnungGrundCode" nillable="true" type="xs:string"/>
            <xs:element name="ablehnungGrund" nillable="true" type="xs:string"/>
            <xs:element name="abmeldeDatum" nillable="true" type="xs:string"/>
            <xs:element name="abmeldeGrundCode" nillable="true" type="xs:string"/>
            <xs:element name="alterBis" nillable="true" type="xs:string"/>
            <xs:element name="alterVon" nillable="true" type="xs:string"/>
            <xs:element name="angabenAlter" nillable="true" type="xs:string"/>
            <xs:element name="anmeldeDatum" nillable="true" type="xs:string"/>
            <xs:element name="arbeitsamtBereich" nillable="true" type="xs:string"/>
            <xs:element name="arbeitsformCodeList" nillable="true"
                        type="tns:WSArbeitsformArray"/>
            <xs:element name="arbeitsOrtGemeindeNr" nillable="true" type="xs:short"/>
            <xs:element name="arbeitsOrtGemeinde" nillable="true" type="xs:string"/>
            <xs:element name="arbeitsOrtText" nillable="true" type="xs:string"/>
            <xs:element name="arbeitsOrtPlz" nillable="false" type="xs:string"/>
            <xs:element name="arbeitsOrtOrt" nillable="false" type="xs:string"/>
            <xs:element name="arbeitsOrtLand" nillable="false" type="xs:string"/>
            <xs:element name="arbeitzeitStd" nillable="true" type="xs:string"/>
            <xs:element name="behindert" nillable="true" type="xs:boolean"/>
            <xs:element name="benutzerDetailId" nillable="true" type="xs:integer"/>
            <xs:element name="beschreibung" nillable="true" type="xs:string"/>
            <xs:element name="bewerElektronisch" nillable="true" type="xs:boolean"/>
            <xs:element name="bewerPersoenlich" nillable="true" type="xs:boolean"/>
            <xs:element name="bewerSchriftlich" nillable="true" type="xs:boolean"/>
            <xs:element name="bewerTelefonisch" nillable="true" type="xs:boolean"/>
            <xs:element name="bewerAngaben" nillable="true" type="xs:string"/>
            <xs:element name="bezeichnung" nillable="true" type="xs:string"/>
            <xs:element name="bq1AusbildungCode" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufNr" nillable="true" type="xs:integer"/>
            <xs:element name="bq1AvamBerufMDe" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufMFr" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufMIt" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufWDe" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufWFr" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufWIt" nillable="true" type="xs:string"/>
            <xs:element name="bq1AvamBerufBfsstmcde" nillable="true" type="xs:string"/>
            <xs:element name="bq1ErfahrungCode" nillable="true" type="xs:string"/>
            <xs:element name="bq1QualifikationCode" nillable="true" type="xs:string"/>
            <xs:element name="bq1VerwandteBerufe" nillable="true" type="xs:boolean"/>
            <xs:element name="bq2AusbildungCode" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufNr" nillable="true" type="xs:integer"/>
            <xs:element name="bq2AvamBerufMDe" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufMFr" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufMIt" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufWDe" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufWFr" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufWIt" nillable="true" type="xs:string"/>
            <xs:element name="bq2AvamBerufBfsstmcde" nillable="true" type="xs:string"/>
            <xs:element name="bq2ErfahrungCode" nillable="true" type="xs:string"/>
            <xs:element name="bq2QualifikationCode" nillable="true" type="xs:string"/>
            <xs:element name="bq2VerwandteBerufe" nillable="true" type="xs:boolean"/>
            <xs:element name="bq3AusbildungCode" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufNr" nillable="true" type="xs:integer"/>
            <xs:element name="bq3AvamBerufMDe" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufMFr" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufMIt" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufWDe" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufWFr" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufWIt" nillable="true" type="xs:string"/>
            <xs:element name="bq3AvamBerufBfsstmcde" nillable="true" type="xs:string"/>
            <xs:element name="bq3ErfahrungCode" nillable="true" type="xs:string"/>
            <xs:element name="bq3QualifikationCode" nillable="true" type="xs:string"/>
            <xs:element name="bq3VerwandteBerufe" nillable="true" type="xs:boolean"/>
            <xs:element name="detailangabenCode" nillable="true" type="xs:string"/>
            <xs:element name="euresAnonym" nillable="true" type="xs:boolean"/>
            <xs:element name="eures" nillable="true" type="xs:boolean"/>
            <xs:element name="geschlechtCode" nillable="true" type="xs:string"/>
            <xs:element name="gleicheOste" nillable="true" type="xs:string"/>
            <xs:element name="gueltigkeit" nillable="true" type="xs:string"/>
            <xs:element name="jobSharing" nillable="true" type="xs:boolean"/>
            <xs:element name="kategorieCode" nillable="true" type="xs:string"/>
            <xs:element name="kpAnredeCode" nillable="true" type="xs:string"/>
            <xs:element name="kpEmail" nillable="true" type="xs:string"/>
            <xs:element name="kpName" nillable="true" type="xs:string"/>
            <xs:element name="kpTelefonNr" nillable="true" type="xs:string"/>
            <xs:element name="kpVorname" nillable="true" type="xs:string"/>
            <xs:element name="lohnMax" nillable="true" type="xs:string"/>
            <xs:element name="lohnMin" nillable="true" type="xs:string"/>
            <xs:element name="lohnartCode" nillable="true" type="xs:string"/>
            <xs:element name="pensumBis" nillable="true" type="xs:short"/>
            <xs:element name="pensumVon" nillable="true" type="xs:short"/>
            <xs:element name="privFahrzeug" nillable="true" type="xs:boolean"/>
            <xs:element name="sk1Aufenthalt" nillable="true" type="xs:boolean"/>
            <xs:element name="sk1MuendlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk1Muttersprache" nillable="true" type="xs:boolean"/>
            <xs:element name="sk1SchriftlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk1SpracheCode" nillable="true" type="xs:string"/>
            <xs:element name="sk2Aufenthalt" nillable="true" type="xs:boolean"/>
            <xs:element name="sk2MuendlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk2Muttersprache" nillable="true" type="xs:boolean"/>
            <xs:element name="sk2SchriftlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk2SpracheCode" nillable="true" type="xs:string"/>
            <xs:element name="sk3Aufenthalt" nillable="true" type="xs:boolean"/>
            <xs:element name="sk3MuendlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk3Muttersprache" nillable="true" type="xs:boolean"/>
            <xs:element name="sk3SchriftlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk3SpracheCode" nillable="true" type="xs:string"/>
            <xs:element name="sk4Aufenthalt" nillable="true" type="xs:boolean"/>
            <xs:element name="sk4MuendlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk4Muttersprache" nillable="true" type="xs:boolean"/>
            <xs:element name="sk4SchriftlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk4SpracheCode" nillable="true" type="xs:string"/>
            <xs:element name="sk5Aufenthalt" nillable="true" type="xs:boolean"/>
            <xs:element name="sk5MuendlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk5Muttersprache" nillable="true" type="xs:boolean"/>
            <xs:element name="sk5SchriftlichCode" nillable="true" type="xs:string"/>
            <xs:element name="sk5SpracheCode" nillable="true" type="xs:string"/>
            <xs:element name="sprachenBemerkungen" nillable="true" type="xs:string"/>
            <xs:element name="stellenantritt" nillable="true" type="xs:string"/>
            <xs:element name="stellennummerAvam" nillable="true" type="xs:string"/>
            <xs:element name="stellennummerEgov" nillable="true" type="xs:string"/>
            <xs:element name="unbefristet" nillable="true" type="xs:boolean"/>
            <xs:element name="untHausNr" nillable="true" type="xs:string"/>
            <xs:element name="untLand" nillable="false" type="xs:string"/>
            <xs:element name="untName" nillable="false" type="xs:string"/>
            <xs:element name="untOrt" nillable="true" type="xs:string"/>
            <xs:element name="untPlz" nillable="true" type="xs:string"/>
            <xs:element name="untPostfach" nillable="true" type="xs:string"/>
            <xs:element name="untPostfachOrt" nillable="true" type="xs:string"/>
            <xs:element name="untPostfachPlz" nillable="true" type="xs:string"/>
            <xs:element name="untStrasse" nillable="true" type="xs:string"/>
            <xs:element name="untNogaCode" nillable="true" type="xs:string"/>
            <xs:element name="untTelefon" nillable="true" type="xs:string"/>
            <xs:element name="untEmail" nillable="true" type="xs:string"/>
            <xs:element name="untUrl" nillable="true" type="xs:string"/>
            <xs:element name="vertragsdauer" nillable="true" type="xs:string"/>
            <xs:element name="waehrungCode" nillable="true" type="xs:string"/>
            <xs:element name="anonym" nillable="false" type="xs:boolean"/>
            <xs:element name="publikation" nillable="false" type="xs:boolean"/>
            <xs:element name="loginAnonym" nillable="false" type="xs:boolean"/>
            <xs:element name="loginPublikation" nillable="false" type="xs:boolean"/>
            <xs:element name="quelleCode" nillable="false" type="xs:string"/>
            <xs:element name="meldepflicht" nillable="false" type="xs:boolean"/>
            <xs:element name="kurzeinsatz" nillable="true" type="xs:boolean"/>
            <xs:element name="sperrfrist" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSArbeitsform">
        <xs:sequence>
            <xs:element name="arbeitsformCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSArbeitsformArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WSArbeitsformArrayItem"
                        type="tns:WSArbeitsform"/>
        </xs:sequence>
    </xs:complexType>


    <!--
        Nachrichten Objekte
    -->
    <xs:element name="searchStes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
                <xs:element name="searchParams" nillable="true"
                            type="tns:WSStesEgovSuche"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="searchStesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="searchStesReturn" nillable="true"
                            type="tns:WSStesEgovArray"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insertOste">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
                <xs:element name="oste" nillable="true" type="tns:WSOsteEgov"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="insertOsteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
